@model List<Personel>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">LastName</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var x in Model)
       {
      <tr>
        <td>@x.Name</td>
        <td>@x.LastName</td>
    </tr>
      }
  </tbody>
</table>